/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: sans-serif;
}

#main-heading {
  font-weight: 600;
  border-bottom: 0.2em;
  border-color: black;
  border-style: solid;
  padding: 3px 20px;
  font-weight: 28px;
}

#main {
  margin: 20px 15px;
}

p {
  margin: 15px;
  font-weight: 400;
  font-size: 19px;
  color: rgba(51, 50, 50, 0.96);
  line-height: 1.5em;
}

.headings {
  border-bottom: 0.2em;
  border-color: black;
  border-style: solid;
  padding: 5px;
  font-weight: 500;
}

.group {
  padding: 0em 0.7em;
}

.main-groups {
  padding: 0em 0.5em;
}

.para-margin {
  margin-bottom: 0px;
}
